[Desktop Entry]
Name=Ledger Live
Exec=/bin/sh -c "exec $HOME/bin/ledger-live-desktop %U"
Type=Application
Categories=Finance;
Terminal=false
MimeType=x-scheme-handler/ledgerlive;
