[Desktop Entry]
Name=Ledger Live
Exec=/home/user/bin/ledger-live-desktop %U
Type=Application
Categories=Finance;
Terminal=false
MimeType=x-scheme-handler/ledgerlive;
